.contact-container{
    background: #344E64;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #070A0D, #344E64);  /* Chrome 10-25, Safari 5.1-6 */
    background:linear-gradient(to top, #070A0D, #344E64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100vh;
    width:100%;
    padding-top: 9rem;
    scroll-snap-type: y mandatory;
    
}

.contact-section{
    scroll-snap-align: start;
    height:100%;
    width: 100%;
    color: rgb(220, 209, 209);
}
