:root{
    --display-stuff: flex;
    --display-nav: none;
}



.header{
    position: fixed;
    width: 100%;
}


.nav{
    display: var(--display-stuff);
    justify-content: center;
    background-color: #FFC371;
    height:  90px;
    align-items: center;
}

.listaNav {
    display: var(--display-stuff);
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.listaNav .listItem {
    margin: auto;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    transition: all 1s ease;
    color: #ffffff;
    padding: 1rem;
}
.listaNav li a {
    width: 100px;
    height: 40px;
    display: var(--display-stuff);
    position: relative;
    text-align: center;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    align-items: center;
}
.listaNav li:hover {
    transform: translateY(-8px);
}

.bg__nav__home{
    background:  #FFC371;  /* fallback for old browsers */
    transition: background 0.5s ;
}
.bg__nav__home .listaNav .listItem{
    color: black;
}
.bg__nav__about{
    background: #FF5F6D;  /* fallback for old browsers */
    transition: background 0.5s ;
}
.bg__nav__projects{
    background: #C06C84;  /* fallback for old browsers */
    transition: background 0.5s ;
}
.bg__nav__contact{
    background: #344E64;  /* fallback for old browsers */
    transition: background 0.5s ;
}

.active::after, .active::before {
    content:"";
    display: inline;
    position: absolute;
    top: 35px;
}
.active::after{
    width: 40%;
    right: 0;
    border-bottom: 2.3px white solid;
    animation-duration: 1s;
    animation-name: moveLeftLine;
    animation-iteration-count: 1;
    
}

.active::before{
    width: 40%;
    left: 0;
    border-bottom: 2.3px white solid;
    animation-duration: 1s;
    animation-name: moveRightLine;
    animation-iteration-count: 1;
}

.ham-container{
    display: none;
    cursor: pointer;
}

.ham-active{
    position: absolute;
    display: flex;
}
        
        
@keyframes moveRightLine {
    from {
        display: none;
        transform: translateX(-50px);
    }
    to {
        transform:translateX(0px);
    }
}
@keyframes moveLeftLine {
    from {
        display: none;
        transform: translateX(50px);
    }
    to {
        transform:translateX(0px);
    }
}

 @keyframes closeMenu {
    from {
        transform: translateY(0);
        position: absolute;
        top: 6em;
    }
    to {
        transform: translateY(-150%);
        position: absolute;
    }
} 
@keyframes openMenu {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes top-line{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(22px) rotate(-45deg);
    }
}
@keyframes bottom-line{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(45deg);
    }
}

@keyframes middle-line{
    50%, 100%{
        width: 0;
        opacity: 0;
    }
}


@media only screen and (max-width: 768px) {
    .listaNav{
        display: var(--display-nav);
        top: 23vh;
        position: relative;
        width: 70vw;
        padding: 2em;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
    }

    .closedNav{
        animation-duration: 0.5s;
        animation-name: closeMenu;
        animation-direction: normal;
        animation-fill-mode: forwards;
        /*display: none;*/
    }

    .openNav{
        animation-duration: 0.5s;
        animation-name: openMenu;
        animation-direction: normal;
        animation-fill-mode: forwards;
        display: flex;
    }
    .ham-container{
        width: 35px;
        height: 35px;
        display: block;
        z-index: 30;
    }

    .ham-line{
        width: 100%;
        height: 5px;
        background-color: #fff;
        display: block;
        margin: 5px auto;
    }
    .ham-active .ham-line:nth-child(1){
        animation-duration: 1s;
        animation-name: top-line;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .ham-active .ham-line:nth-child(2){
        animation-duration: 1s;
        animation-name: middle-line;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .ham-active .ham-line:nth-child(3){
        animation-duration: 1s;
        animation-name: bottom-line;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .ham-inactive .ham-line:nth-child(1){
        animation-duration: 1s;
        animation-name: top-line;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
    .ham-inactive .ham-line:nth-child(2){
        animation-duration: 1s;
        animation-name: middle-line;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
    .ham-inactive .ham-line:nth-child(3){
        animation-duration: 1s;
        animation-name: bottom-line;
        animation-direction: reverse;
        animation-fill-mode: forwards;
    }
}
/*
Before
left: 53px;
top: 23px;
*/
/*

.listNav{
    display: flex;
    flex
top: 23vh;
position: relative;
background-color: #ced5e1;
width: 70vw;
height: 100%;
padding: 2em;
position: relative;
flex-direction: column;
justify-content: space-between;
}
**/